:root {
	--primary: rgb(255, 107, 0);
	--secondary: rgb(16,16,16);
	--primary-md: rgb(255,245,239);
	--secondary-md: rgb(96 96 96);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Urbanist';
}

a {
	text-decoration: none;
}

body {
	display: flex;
}

aside {
	width: 220px;
	height: 100vh;
	position: sticky;
	padding: 40px 20px 10px;
	background-color: lightgray;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.aside__logo {
	font-size: 30px;
	font-weight: 400;
	font-family: 'Dancing Script';
	width: 100px;
	text-align: center;
	color: var(--primary);
}

.nav {
	margin-top: 60px;
	display: flex;
	flex-direction: column;
}

.nav-item {
	margin-top: 25px;
	display: flex;
	align-items: center;
	position: relative;
}

.nav-item:not(.nav-item:last-child)::after {
	position: absolute;
	content: '';
	left: 8.5px;
	top: 75%;
	width: 1px;
	height: calc(25px + 50%);
	background-color: var(--secondary);
}

.nav-item__indicator {
	width: 18px;
	height: 50%;
	border-radius: 8px;
	border: 1px solid var(--secondary);
	margin-right: 5px;
}

.nav-item__text {
	color: var(--secondary);
	font-weight: 600;
	font-size: 18px;
	transition: color 0.25s ease-in-out;
}

.socials-container {
	margin-top: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}

.social-link {
	color: var(--secondary-md);
	font-size: 20px;
	margin: 0px 10px;
	transition: color 0.25s ease-in-out;
}

.social-link:hover,
.social-link:active,
.nav-item__text:hover,
.nav-item__text:active {
	color: var(--primary);
}

.socials-container__cont2 {
	margin-top: 10px;
}