:root {
	--primary: rgb(72, 49, 212);
	--secondary: rgb(204, 243, 129);
	--tertiary: #06ffde;
	scroll-behavior: smooth;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
}

body {
	display: flex;
}

aside {
	position: sticky;
	top: 0;
	left: 0;
	/*width: 60px;*/
	width: calc(30px + 2.5vw);
	height: 100vh;
	background-color: var(--secondary);
	flex-shrink: 0;
	z-index: 25;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.aside-img {
	/*height: 50px;*/
	height: calc(30px + 1.67vw);
	flex-shrink: 0;
}

.nav-socials {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nav-socials a {
	color: var(--primary);
	margin: 10px 0;
	/*font-size: 20px;*/
	font-size: calc(15px + 0.42vw);
	font-weight: 600;
	transition: all 0.3s ease-in-out;
}

.nav-socials a:hover {
	color: white;
}

main {
	flex: 1 1 0;
	min-width: 0;
}

nav {
	position: sticky;
	top: 0;
	flex-shrink: 0;
	z-index: 20;
}

.nav-menu {
	list-style: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: var(--primary);
	/*height: 50px;*/
	height: calc(30px + 1.67vw);
}

.nav-item {
	margin: 0 20px;
	/*font-size: 12px;*/
	font-size: calc(12px + 0.17vw);
	font-weight: 600;
	position: relative;
}

.nav-item::after {
	content: '';
	position: absolute;
	top: 90%;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: white;
	border-radius: 4px;
	transform: scaleX(0);
	transition: transform 0.35s ease-in-out;
	transform-origin: right;
}

.nav-item:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}

.nav-link {
	color: white;
}

.nav-overlay {
	display: none;
}

.hamburger-menu {
	display: none;
}

section#home {
	background-color: var(--primary);
	min-height: 95vh;
	/*flex-grow: 1;*/
	display: flex;
	align-items: center;
}

.home-content {
	display: flex;
	/*justify-content: space-between;*/
	align-items: center;
	padding: 40px;
	/*width: 100%;*/
	min-width: 0;
}

.home-about {
	width: 500px;
	color: white;
}

.home-about h1 {
	font-size: 40px;
	color: var(--secondary);
}

.home-about h3 {
	font-weight: 500;
	margin-bottom: 10px;
}

.home-about a {
	padding: 13px 25px;
	display: inline-block;
	margin-top: 20px;
	border-radius: 4px;
	background-color: var(--secondary);
	color: var(--primary);
	font-weight: 500;
	position: relative;
	z-index: 1;
	overflow: hidden;
	/*border: 1px solid var(--secondary);*/
}

.home-about a::before,
.about-me__text-wrapper a::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 0;
	transform: translate(-50%, -50%) rotate(-45deg);
	z-index: -1;
	background-color: var(--tertiary);
	transition: all 0.3s ease-in-out;
}

.about-me__text-wrapper a:hover {
	color: var(--primary);
}

.home-about a:hover::before,
.about-me__text-wrapper a:hover::before {
	height: 400%;
}

.home-about a i {
	margin-left: 5px;
}

.home-pic-container {
	width: 300px;
	height: 300px;
	border: 5px solid var(--secondary);
	margin-left: 70px;
	margin-top: 30px;
	min-width: 0;
}

.home-pic {
	position: relative;
	top: -30px;
	left: -30px;
	width: 100%;
	height: 100%;
}

section#about-me {
	min-height: 95vh;
	background-color: var(--secondary);
	padding: 40px;
	display: flex;
	align-items: center;
}

.about-me__img-con {
	min-width: 0;
	display: flex;
	margin-right: 100px;
	/*transform: translateX(-50px);*/
	opacity: 0;
	transition: all 0.3s ease-in-out;
}

.about-me__img-con.animate {
	transform: translateX(0);
	opacity: 1;
}

.about-me__img-inner-con {
	width: 350px;
	height: 350px;
	border: 5px solid var(--primary);
	margin-left: 25px;
	margin-top: 30px;
	
}

.about-me__img {
	position: relative;
	left: -30px;
	top: -30px;
	height: 100%;
}

.about-me__text {
	min-width: 0;
	display: flex;
	/*transform: translateX(50px);*/
	opacity: 0;
	transition: all 0.3s ease-in-out;
}

.about-me__text.animate {
	transform: translateX(0);
	opacity: 1;
}

.about-me__text-wrapper {
	width: 500px;
	/*margin-left: 20px;*/
}

.about-me__text-wrapper h1 {
	font-size: 40px;
	color: var(--primary);
}

.about-me__text-wrapper p {
	color: var(--primary);
	margin-top: 10px;
}

.about-me__text-wrapper a {
	padding: 14px 25px;
	display: inline-block;
	margin-top: 20px;
	border-radius: 4px;
	background-color: var(--primary);
	color: var(--secondary);
	font-weight: 500;
	position: relative;
	z-index: 1;
	overflow: hidden;
	font-size: 14px;
	transition: all 0.3s ease-in-out;
}

.about-me__text-wrapper a::before {
	transform: translate(-50%, -50%) rotate(45deg);
}

.about-me__text-wrapper a i {
	margin-right: 5px;
}

.about-me__email-whatsapp {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.about-me__email-whatsapp > div {
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
	color: var(--primary);
	margin: 10px 0;
}

.about-me__email-whatsapp > div:first-child {
	margin-right: 10px;
}

.about-me__email--title,
.about-me__whatsapp--title {
	font-size: 20px;
	font-weight: 700;
}

section#skills {
	min-height: 95vh;
	background-color: var(--primary);
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.skills-header {
	text-align: center;
	/*margin-top: 30px;*/
	font-size: 40px;
	color: white;
}

.skill-wrapper {
	display: flex;
	margin-top: 40px;
	justify-content: center;
	color: var(--primary);
}

.skill {
	padding: 30px 20px;
	background-color: var(--secondary);
	border-radius: 5px;
	max-width: 400px;
	transition: all 0.25s ease-in-out;
	border: 2px solid var(--secondary);
	border-top: none;
	position: relative;
	z-index: 1;
	transform: translateY(50px);
	opacity: 0;
	transition: all 0.3s ease-in-out;
}

/*.skill:first-child {
	transform: translateX(-50px);
}

.skill:last-child {
	transform: translateX(50px);
}*/

.skill.animate {
	opacity: 1;
	transform: translateY(0);
}

.skill::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: scaleX(0);
	background-color: var(--primary);
	z-index: -1;
	transition: transform 0.3s ease-in-out;
}

.skill:hover::before {
	transform: scaleX(1);
}

/*.skill:hover,
.project:hover {
	transform: translateY(-10px);
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}*/

.skill:first-child {
	margin-right: 20px;
}

.skill:last-child {
	margin-left: 20px;
}

.skill > span > i {
	font-size: 40px;
	margin-bottom: 30px;
}

.skill > h1 {
	/*font-size: 30px;*/
	font-size: calc(20px + 0.83vw);
	font-weight: 600;
	margin-bottom: 20px;
}

.skill ul {
	list-style: none;
}

.skill ul li i {
	margin-right: 25px;
	margin-top: 10px;
}

.skill:hover {
	color: white;
}

section#projects {
	min-height: 95vh;
	background-color: var(--secondary);
	padding: 40px 30px 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.projects-header {
	font-size: 40px;
	color: var(--primary);
	text-align: center;
}

.projects-wrapper {
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	/*align-items: center;*/
	/*justify-content: center;*/
}

.project-card {
	width: 500px;
	height: 280px;
	position: relative;
	margin: 10px;
	opacity: 0;
	transform: scale(0.1);
	transition: all 0.5s ease-in-out;
}

.project-card.animate {
	opacity: 1;
	transform: scale(1) rotate(-1080deg);
}

.project-card__front,
.project-card__back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transform: perspective(1000px);
	transition: all 0.3s ease-in-out;
}

.project-card__front {
	cursor: pointer;
}

.project-card__back {
	padding: 20px;
	background-color: var(--primary);
	display: flex;
	flex-direction: column;
	justify-content: center;
	transform: perspective(1000px) rotateY(-180deg);
}

.project-card__back > * {
	min-height: 0;
}

.project-card:hover .project-card__front {
	transform: perspective(1000px) rotateY(180deg);
}

.project-card:hover .project-card__back {
	transform: perspective(1000px) rotateY(0deg);
}

.project-card__back h3 {
	color: white;
	font-size: calc(15px + 0.83vw);
	text-align: center;
}

.project-card__back h5 {
	color: var(--secondary);
	font-size: calc(12px + 0.66vw);
	margin-top: 15px;
}

.project-card__back ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.project-card__back ul li {
	margin: 5px;
	padding: calc(2.5px + 0.21vw);
	background-color: #563be0;
	border-radius: 4px;
	color: white;
	font-size: calc(10px + 0.33vw);
}

.project-card__back > div {
	margin-top: 15px;
	display: flex;
}

.project-card__back > div a {
	padding: 8px 15px;
	background-color: var(--secondary);
	color: var(--primary);
	font-weight: 500;
	font-size: 12px;
	position: relative;
	margin: 0 5px;
	z-index: 1;
}

.project-card__back > div a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--tertiary);
	z-index: -1;
	transform: scaleX(0);
	transform-origin: center;
	transition: transform 0.2s ease-in-out;
}

.project-card__back > div a:hover::before {
	transform: scaleX(1);
}

.project-card__back > div a i {
	margin-right: 4px;
}

section#contact-me {
	min-height: 95vh;
	background-color: var(--primary);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px;
}

.contact-me-header {
	font-size: 40px;
	color: var(--secondary);
}

.contact-me-wrapper {
	display: flex;
	margin-top: 50px;
	max-width: 100%;
}

.contact-me__info {
	margin-right: 50px;
}

.contact-me__info > div {
	display: flex;
	align-items: center;
	color: white;
	margin-bottom: 20px;
}

.contact-me__info > div > i {
	font-size: 30px;
	font-weight: 700;
	color: var(--secondary);
	margin-right: 10px;
}

.contact-me__info > div > div {
	display: flex;
	flex-direction: column;
}

.contact-me__info > div > div > span {
	font-size: calc(12px + 0.33vw);
}

.contact-me__info > div > div > span:first-child {
	font-weight: 600;
	/*font-size: 20px;*/
	font-size: calc(15px + 0.42vw);
}

.contact-me__form {
	/*margin-top: 20px;*/
	display: flex;
	flex-direction: column;
	width: 500px;
	min-width: 0;
	font-size: 20px;
	/*max-width: 100%;*/
}

.contact-me__form input,
.contact-me__form textarea,
.contact-me__form button {
	padding: 12px 10px;
	border: none;
	background: none;
	outline: none;
	border-bottom: 1px solid var(--secondary);
	color: white;
	margin-bottom: 10px;
}

*::placeholder {
	color: white;
}

.contact-me__form > div {
	display: flex;
}

.contact-me__form > div > input {
	flex: 1 1 0;
	min-width: 0;
}

.contact-me__form > div > input:first-child {
	margin-right: 10px;
}

.contact-me__form > div > input:last-child {
	margin-left: 10px;
}

.contact-me__form textarea {
	height: 90px;
}

.contact-me__form button {
	border: 1px solid var(--secondary);
	margin-top: 20px;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.25s ease-in-out;
	position: relative;
	z-index: 1;
}

.contact-me__form button::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--secondary);
	z-index: -1;
	transform: scaleY(0);
	transform-origin: bottom;
	transition: transform 0.25s ease-in-out;
}

.contact-me__form button:hover {
	color: var(--primary);
}

.contact-me__form button:hover::after {
	transform: scaleY(1);
	transform-origin: top;
}

@media screen and (max-width: 1158px) {
	.projects-wrapper {
		justify-content: center;
	}
}

@media screen and (max-width: 800px) {
	/*.about-me__email-whatsapp {
		flex-direction: column;
	}*/
}

@media screen and (max-width: 750px) {
	.hamburger-menu {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: fixed;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: var(--secondary);
		top: 20px;
		right: 20px;
		cursor: pointer;
		z-index: 25;
	}

	.hamburger {
		width: 20px;
		height: 4px;
		border-radius: 4px;
		background-color: white;
		margin: 2px 0;
		/*transition: all 0.35s ease-in-out;*/
		position: relative;
	}

	.hamburger::before,
	.hamburger::after {
		content: '';
		position: absolute;
		width: 20px;
		height: 4px;
		border-radius: 4px;
		background-color: white;
		transition: all 0.35s ease-in-out;

	}

	.hamburger::before {
		top: -7px;
		left: -5px;
	}

	.hamburger::after {
		top: 7px;
		right: -5px;
	}

	.hamburger-menu.active .hamburger::before {
		top: 0;
		left: 0;
		transform: rotate(405deg);
		background-color: var(--primary);
		visibility: visible;
	}

	.hamburger-menu.active .hamburger::after {
		top: 0;
		left: 0;
		transform: rotate(315deg);
		background-color: var(--primary);
		visibility: visible;
	}

	.hamburger-menu.active .hamburger {
		visibility: hidden;
	}

	.nav-menu {
		/*display: none;*/
		position: fixed;
		right: -200px;
		top: 0;
		background-color: var(--secondary);
		height: 100vh;
		z-index: 15;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		width: 200px;
		transition: all 0.1s ease-in-out;
		opacity: 0;
	}

	.nav-menu.active {
		right: 0;
		opacity: 1;
	}

	.nav-item {
		margin: 10px 20px;
		opacity: 0;
		transition: opacity 0.2s ease-in-out;
	}

	.nav-menu.active .nav-item {
		opacity: 1;
	}

	.nav-link {
		color: var(--primary);
	}

	.nav-item::after {
		background-color: var(--primary);
	}

	.nav-overlay {
		display: block;
		opacity: 0;
		position: fixed;
		top: 0;
		left: -100%;
		background-color: rgba(0, 0, 0, 0.2);
		width: 100%;
		height: 100%;
		z-index: 10;
		transition: all 0.1s ease-in-out;
	}

	.nav-overlay.active {
		left: 0;
		opacity: 1;
	}

	.home-content {
		flex-direction: column;
		align-items: flex-start;
		padding: 100px 20px 20px;
	}

	.home-pic-container {
		width: 200px;
		height: 200px;
		margin-left: 30px;
		margin-top: 0;
		max-width: calc(100% - 50px);
	}

	.home-about {
		order: 1;
		margin-top: 40px;
		max-width: 100%;
	}

	section#about-me {
		flex-direction: column;
		align-items: start;
		padding: 20px 20px;
	}

	.about-me__img-con {
		margin-right: 0;
		max-width: 100%;
	}

	.about-me__img-inner-con {
		width: 200px;
		height: 200px;
		
	}

	.about-me__text {
		margin-top: 40px;
		max-width: 100%;
	}

	section#skills {
		padding: 20px 20px;
	}

	.skill-wrapper {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	.skill {
		margin: 0 !important;
	}

	/*.skill:hover,
	.project:hover {
		transform: scale(1.03);
	}*/

	.skill:last-child {
		margin-top: 20px !important;
	}

	section#projects {
		padding: 20px 10px 10px;
	}

	section#contact-me {
		padding: 20px;
	}

	.contact-me__form > div {
		flex-direction: column;
	}

	.contact-me__form > div > input:first-child {
		margin-right: 0;
	}

	.contact-me__form > div > input:last-child {
		margin-left: 0;
	}
}

@media screen and (max-width: 650px) {
	.contact-me-wrapper {
		flex-direction: column;
	}

	.contact-me__info {
		margin-right: 0;
	}

	.contact-me__form {
		margin-top: 40px;
		max-width: 100%;
	}
}

@media screen and (max-width: 390px) {
	.project-card__back > div a span {
		display: none;
	}
}